<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caronas - IFSP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./styles/header.css">
</head>
<body>
    <header class="container-fluid">
        <div class="row p-3">
            <div class="col-lg-10 col-sm-9">
                <h1>Caronas - IFSP</h1>
            </div>
            <div class="col-lg-2 col-sm-3">
                <button type="button" class="btn btn-outline-light dropdown-toggle container-fluid" data-toggle="dropdown">
                    Menu
                </button>
                <% if (hasSession) { %>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">Início</a>
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        <a class="dropdown-item" href="/about">Sobre</a>
                    </div>
                <% } else { %>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">Início</a>
                    <a class="dropdown-item" href="/signUp">Cadastro</a>
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/about">Sobre</a>
                </div>
                <% } %>
            </div>
        </div>
    </header>
    <main class="container-fluid p-3">
        <h2 class="text-center">Adicionar postagem</h2>
        <div class="row justify-content-center">
            <form class="col-lg-4 col-md-8 col-10 p-3 border shadow-lg" action="/post" method="post">
                <div class="mb-3">
                    <label class="form-label" for="origin">Origem</label>
                    <input class="form-control" type="text" name="origin" placeholder="Rua de exemplo, 1">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="destiny">Destino</label>
                    <input class="form-control" type="text" name="destiny" placeholder="Rua de exemplo, 2">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="departure_time">Hora de saída</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" placeholder="Horas" type="number" name="hours">
                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="Minutos" type="number" name="minutes">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contact">Contato</label>
                    <input class="form-control" type="tel" name="contact" placeholder="(XX) XXXXX-XXXX">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="car_id">Placa do carro</label>
                    <input class="form-control" type="text" name="car_id" placeholder="ABC1234">
                </div>
                <div class="mb-3">
                    <button class="btn btn-success w-100" type="submit">Publicar carona</button>        
                </div>
            </form>
        </div>
    </main>
    <footer class="container-fluid p-3">
        <div class="row text-center">
            <div class="col-md-4">
                <h3>Apoiadores</h3>
                <p>IFSP - Jacareí</p>
                <p>Tardelli Stekel</p>
            </div>
            <div class="col-md-4">
                <h3>Desenvolvedor</h3>
                <p>João Vitor Mâncio Chaves</p>
            </div>
            <div class="col-md-4">
                <h3>Idealização</h3>
                <p>João Vitor Mâncio Chaves</p>
                <p>Tardelli Stekel</p>
            </div>
        </div>
    </footer>
</body>
</html>