<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caronas - IFSP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./styles/header.css">
</head>
<body>
    <header class="container-fluid">
        <div class="row p-3">
            <div class="col-lg-10 col-sm-9">
                <h1>Caronas - IFSP</h1>
            </div>
            <div class="col-lg-2 col-sm-3">
                <button type="button" class="btn btn-outline-light dropdown-toggle container-fluid" data-toggle="dropdown">
                    Menu
                </button>
                <% if (hasSession) { %>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">Início</a>
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        <a class="dropdown-item" href="/about">Sobre</a>
                    </div>
                <% } else { %>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">Início</a>
                    <a class="dropdown-item" href="/signUp">Cadastro</a>
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/about">Sobre</a>
                </div>
                <% } %>
            </div>
        </div>
    </header>
    <main class="container-fluid p-3">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-10">
                <h2>Objetivo do projeto</h2>
            </div>
            <div class="col-lg-8 col-sm-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit, augue ac convallis vestibulum, nisl orci condimentum mi, id egestas ex nisl a mi. Nam accumsan ante sit amet lorem auctor mattis. Vestibulum vehicula dolor sed tempor pellentesque. Aenean a est sit amet justo convallis dictum et a erat. Curabitur ornare nibh sed est auctor, vitae tempus eros aliquam. Phasellus aliquet, dolor id tristique feugiat, lorem elit faucibus tellus, quis tincidunt augue augue id justo. Morbi nibh velit, sodales vitae lectus sit amet, placerat ullamcorper mi. Praesent non vulputate neque. Ut urna est, gravida vel ultrices ac, feugiat sit amet orci. Aliquam faucibus at purus sit amet pharetra. Maecenas vulputate libero nibh, quis viverra nulla tincidunt fermentum. Curabitur id purus sed quam rutrum euismod. Curabitur eleifend elit vitae magna consectetur eleifend. Ut ac semper tellus, vel tempor elit.</p>
            </div>            
        </div>
        <div class="row justify-content-center">
            <div class="card col-lg-8 col-sm-10 shadow">
                <img class="card-img-top" src="./images/frente-campus-2.jpg" alt="Imagem da frente do câmpus de Jacareí">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit, augue ac convallis vestibulum, nisl orci condimentum mi, id egestas ex nisl a mi. Nam accumsan ante sit amet lorem auctor mattis. Vestibulum vehicula dolor sed tempor pellentesque. Aenean a est sit amet justo convallis dictum et a erat. Curabitur ornare nibh sed est auctor, vitae tempus eros aliquam. Phasellus aliquet, dolor id tristique feugiat, lorem elit faucibus tellus, quis tincidunt augue augue id justo. Morbi nibh velit, sodales vitae lectus sit amet, placerat ullamcorper mi. Praesent non vulputate neque. Ut urna est, gravida vel ultrices ac, feugiat sit amet orci. Aliquam faucibus at purus sit amet pharetra. Maecenas vulputate libero nibh, quis viverra nulla tincidunt fermentum. Curabitur id purus sed quam rutrum euismod. Curabitur eleifend elit vitae magna consectetur eleifend. Ut ac semper tellus, vel tempor elit.</p>
                    <div class="row text-center">
                        <div class="col-4">
                            <div class="row justify-content-center">
                                <img src="./images/icons/geo-alt-fill.svg" alt="Ir até lá">
                            </div>
                            <div class="row justify-content-center">
                                <a target="_blank" href="https://www.google.com/maps/place/Instituto+Federal+de+Educa%C3%A7%C3%A3o,+Ci%C3%AAncia+e+Tecnologia+de+S%C3%A3o+Paulo,+Campus+Jacare%C3%AD/@-23.3176237,-45.9858596,17z/data=!3m1!4b1!4m6!3m5!1s0x94cdcc83f96cb351:0xee397d3e5240b75f!8m2!3d-23.3176237!4d-45.9836709!16s%2Fg%2F11b607yhv6">Abrir no Google Maps</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row justify-content-center">
                                <img src="./images/icons/whatsapp.svg" alt="WhatsApp">
                            </div>
                            <div class="row justify-content-center">
                                <a href="https://wa.me/5512996084898" target="_blank">Conversar no WhatsApp</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row justify-content-center">
                                <img src="./images/icons/instagram.svg" alt="Ícone para o instagram da escola">
                            </div>
                            <div class="row justify-content-center">
                                <a target="_blank" href="https://instagram.com/ifspjcr">Clique aqui para seguir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="container-fluid p-3">
        <div class="row text-center">
            <div class="col-md-4">
                <h3>Apoiadores</h3>
                <p>IFSP - Jacareí</p>
                <p>Tardelli Stekel</p>
            </div>
            <div class="col-md-4">
                <h3>Desenvolvedor</h3>
                <p>João Vitor Mâncio Chaves</p>
            </div>
            <div class="col-md-4">
                <h3>Idealização</h3>
                <p>João Vitor Mâncio Chaves</p>
                <p>Tardelli Stekel</p>
            </div>
        </div>
    </footer>
</body>
</html>