<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caronas - IFSP</title>
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/footer.css">
</head>
<body>
    <header>
        <h1>Caronas - IFSP</h1>
        <nav>
            <a href="/">Início</a>
            <a href="/signUp">Cadastro</a>
            <a href="/login">Login</a>
            <a href="/about">Sobre</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Objetivo do projeto</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit, augue ac convallis vestibulum, nisl orci condimentum mi, id egestas ex nisl a mi. Nam accumsan ante sit amet lorem auctor mattis. Vestibulum vehicula dolor sed tempor pellentesque. Aenean a est sit amet justo convallis dictum et a erat. Curabitur ornare nibh sed est auctor, vitae tempus eros aliquam. Phasellus aliquet, dolor id tristique feugiat, lorem elit faucibus tellus, quis tincidunt augue augue id justo. Morbi nibh velit, sodales vitae lectus sit amet, placerat ullamcorper mi. Praesent non vulputate neque. Ut urna est, gravida vel ultrices ac, feugiat sit amet orci. Aliquam faucibus at purus sit amet pharetra. Maecenas vulputate libero nibh, quis viverra nulla tincidunt fermentum. Curabitur id purus sed quam rutrum euismod. Curabitur eleifend elit vitae magna consectetur eleifend. Ut ac semper tellus, vel tempor elit.</p>
            <h2>Sobre o câmpus</h2>
            <div class="box-picture">
                <img src="./images/frente-campus-2.jpg" alt="Imagem da frente do câmpus de Jacareí">
                <div class="box-picture-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dui elit, lacinia et pharetra et, sodales ac sapien. Sed eget semper massa. Nam eu vehicula urna. Pellentesque rutrum dui blandit efficitur lacinia. Etiam odio libero, hendrerit non nisi ut, bibendum varius nulla. Duis maximus aliquam tortor, at volutpat ex egestas ut. Aliquam porta felis felis, sed hendrerit nisi suscipit vel.</p>
                    <div class="box-icons">
                        <div class="icon">
                            <img src="./images/icons/local.png" alt="Ícone para indicar localização">
                            <a target="_blank" href="https://www.google.com/maps/place/Instituto+Federal+de+Educa%C3%A7%C3%A3o,+Ci%C3%AAncia+e+Tecnologia+de+S%C3%A3o+Paulo,+Campus+Jacare%C3%AD/@-23.3176237,-45.9858596,17z/data=!3m1!4b1!4m6!3m5!1s0x94cdcc83f96cb351:0xee397d3e5240b75f!8m2!3d-23.3176237!4d-45.9836709!16s%2Fg%2F11b607yhv6">Abrir no Google Maps</a>
                        </div>
                        <div class="icon">
                            <img src="./images/icons/phone-call.png" alt="Ícone para mostrar contato">
                            <p>+55 (12) 2128-5216</p>
                        </div>
                        <div class="icon">
                            <img src="./images/icons/instagram.png" alt="Ícone para o instagram da escola">
                            <a target="_blank" href="https://instagram.com/ifspjcr">Clique aqui para seguir</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer-item">
                    <h3>Apoiadores</h3>
                    <p>IFSP - Jacareí</p>
                    <p>Tardelli Stekel</p>
                </div>
                <div class="footer-item">
                    <h3>Desenvolvedor</h3>
                    <p>João Vitor Mâncio Chaves</p>
                </div>
                <div class="footer-item">
                    <h3>Idealização</h3>
                    <p>João Vitor Mâncio Chaves</p>
                    <p>Tardelli Stekel</p>
                </div>
            </footer>
        </div>
    </main>
</body>
</html>