<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caronas - IFSP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./styles/header.css">
</head>
<body>
    <header class="container-fluid">
        <div class="row p-3">
            <div class="col-lg-10 col-sm-9">
                <h1>Caronas - IFSP</h1>
            </div>
            <div class="col-lg-2 col-sm-3">
                <button type="button" class="btn btn-outline-light dropdown-toggle container-fluid" data-toggle="dropdown">
                    Menu
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">Início</a>
                    <a class="dropdown-item" href="/signUp">Cadastro</a>
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/about">Sobre</a>
                </div>
            </div>
        </div>
    </header>
    <main class="container-fluid p-3">
        <h2 class="text-center">Crie seu cadastro</h2>
        <p class="text-center" id="subtitle">Ao criar seu cadastro poderá efetuar postagens sobre caronas</p>
        <div class="row justify-content-center">
            <form class="col-lg-4 col-md-8 col-10 p-3 border shadow-lg" action="/signUp" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nome completo</label>
                    <input type="text" name="name" placeholder="Nome Sobrenome" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" placeholder="nome@exemplo.com">
                </div>
                <div class="mb-3">
                    <label for="n_matricula" class="form-label">Nº da matrícula</label>
                    <input type="text" class="form-control" placeholder="JCXXXXXXX">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" placeholder="*******">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success w-100">Cadastrar</button>
                </div>
            </form>
        </div>
    </main>
    <footer class="container-fluid p-3">
        <div class="row text-center">
            <div class="col-md-4">
                <h3>Apoiadores</h3>
                <p>IFSP - Jacareí</p>
                <p>Tardelli Stekel</p>
            </div>
            <div class="col-md-4">
                <h3>Desenvolvedor</h3>
                <p>João Vitor Mâncio Chaves</p>
            </div>
            <div class="col-md-4">
                <h3>Idealização</h3>
                <p>João Vitor Mâncio Chaves</p>
                <p>Tardelli Stekel</p>
            </div>
        </div>
    </footer>
</body>
</html>